.article-title {
  font-size: 26px;
  display: block;
}

.article-info {
  font-size: 14px;
  display: block;
  margin-left: 0 !important;
}

.article-oprt {
  margin-top: -26px;
  height: 24px !important;
  line-height: 24px !important;

  hr {
    display: none;
  }

  i.fa {
    font-size: 14px !important;

    &:before {
      padding-right: 4px;
    }
  }
}

.article-content {
  h1 {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  h4,
  h5,
  h6 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  table {
    .oi-shadow-2();
    background: white;
    display: table;
    width: 100%;

    font-size: 13.5px;
    line-height: 24px;

    tr {
      th {
        padding: 12px 8px;
      }

      td {
        padding: 6px 8px;
      }
    }

    tbody tr:nth-of-type(odd) {
      background: rgba(0, 0, 0, 0.05);
    }

    tr td > a > span.tag {
      font-size: 13px;
      font-weight: normal;
    }
  }
}

.article_discuss {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
