@import 'style/methods/shadow';

#oi-helper-config {
	.oi-shadow-2();
	transition: box-shadow 0.5s;

	&:hover {
		.oi-shadow-12();
	}

	padding: 20px;

	h2 {
		font-size: 15px;
		line-height: 18px;
		border: none;
		color: #222;
		display: block;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	p {
		font-size: 14px;
		line-height: 15px;
		color: #666;
		display: block;
	}

	.oi-helper-config-depth-0 {
		margin-bottom: 12px;
	}

	.oi-helper-config-depth-0:last-child {
		margin-bottom: 0 !important;
	}
}